*{
    margin: 0;
    padding: 0;
    }
html{
    background-color: #F2F5F7;
}
@font-face {
    font-family: fira;
    src: url(fonts/FiraMono-Bold.otf) format('otf'),
      url(fonts/FiraMono-Bold.ttf) format('truetype'),
      url(fonts/FiraMono-Bold.woff) format('woff'),
      url(fonts/FiraMono-Bold.woff2) format('woff2');
    }
    .font{
        font-family: fira;
    }
    .h1-bala{
        display: flex;
        justify-content: center;
        margin-top: 44px;
    }
   h1{
    font-family: fira;
    font-size: 26px;
    margin-bottom:40px;
    color: #666666;
      } 
  .gesmat-asli{
    display: grid;
    justify-content: center;
    gap:15px     ;
  }
  label{
    font-size: 20px;
    color: #6B7F99 ;
  }
  input{
    height: 46px;
    width: 390px;
    border:1px solid #C8D2DB;
    border-radius: 5px;
   }
   .input1{
    padding-top: 0;
   }
   .input3{
     margin-bottom: 20px;
   }
    .dokme-sabt{
      height: 48px;
      width: 392px;
      color: white;
      background-color: #2493DF;
      border: 1px solid #2493DF;
      border-radius: 5px;
    }